@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f1f1f;
}

.navbar {
    width: 100%;
    background-color: #121212;
    color: white;
    padding: 15px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo h1 {
    font-size: 28px;
    color: #0ef;
}

.tec {
    color: #ff0055;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #0ef;
}

.navbar-search input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.navbar-search button {
    padding: 5px 10px;
    background-color: #0ef;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Hero / Home Section */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(view-illuminated-neon-gaming-keyboard-setup-controller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .isi {
    padding: 1.4rem 7%;
    max-width: 50rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}

.isi h1 {
    margin-top: 1rem;
    font-size: 42px;
    color: white;
}

.biru {
    color: #0ef;
}

.merah {
    color: #ff0055;
}

.isi p {
    font-size: 18px;
    color: #ddd;
    margin: 10px 0 20px;
}

.cta {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: #ff0055;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta:hover {
    background-color: #d40046;
}
