@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   background-image: url(view-illuminated-neon-gaming-keyboard-setup-controller.jpg);
  background-size: cover;
}

/* Navbar (same as others) */
.navbar {
  width: 100%;
  background-color: #121212;
  padding: 15px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo h1 {
  font-size: 28px;
  color: #0ef;
}

.tec {
  color: #ff0055;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: whitesmoke;
  transition: 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #0ef;
}

.navbar-search input {
  padding: 6px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.navbar-search button {
  padding: 6px 10px;
  background-color: #0ef;
  color: black;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Info Section */
.info-section {
  padding: 50px 60px;
  text-align: center;
  min-height: 100vh;
}

.info-section h2 {
  font-size: 32px;
  color: #0ef;
  margin-bottom: 30px;
}

.biru{
    color: #0ef;
}

.merah{
    color: #ff0055;
}

.info-card {
  background: transparent;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  backdrop-filter: blur(12px);
}

.info-card p {
  margin: 15px 0;
  font-size: 18px;
  color: #ddd;
}

.info-card a {
  color: #0ef;
  text-decoration: none;
}

.info-card a:hover {
  text-decoration: underline;
}
